.root {
  //add url background
  background: url("../assets/clear-day-clouds.jpg") no-repeat center center fixed;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
  }
}

.sidebar {
  padding: 40px;
  color: white;
  height: 100vh;
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.current-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.city-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;
}

.city-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  a {
    font-size: 19px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  width: auto;
}

.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 16px;
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  flex: 1;
  height: 36px;
  padding: 0 10px 0 0;
  outline: none;
  color: white;
  opacity: 0.7;

  &:focus {
    opacity: 1;
  }

  &::placeholder {
    color: white;
  }
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  margin-top: 40px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-weight: 400;
}

.temperature {
  font-size: 100px;
  font-weight: 300;
  margin: 0;
}

.name {
  margin: 0;
  font-size: 46px;
  font-weight: 300;
}
